{% extends "base.html" %}


{% block content %}
<h1>Research</h1>
<h3>Ticker Symbol Search</h3>
<div class="content" style="width:25%">

  <form class="form-inline" action="/research/" method="POST">
    <div class="form-group">
      {{ form.symbol(class="form-control", placeholder="Ticker Symbol") }}
      <button type="submit" class="btn btn-primary">Go</button>
    </div>
  </form>
</div>
<br />
<div>
  {{ div | safe }}
  {{ script | safe }}
</div>
<br />
<div align="left" style="width:75%">
  <h2>Yahoo Finance Info: {{ symbol }}</h2>
  {% for x in info %}
  <b>{{ x }} :</b> {{ info[x] }} <br />
  {% endfor %}
</div>

{% endblock %}
